@import "tailwindcss";


.floating-shape {
  animation: squareMove 8s linear infinite;
}

@keyframes squareMove {
  0%   { transform: translate(0, 0); }
  /* 25%  { transform: translate(150px, 0); } */
  /* 50%  { transform: translate(150px, 120px); } */
  75%  { transform: translate(0, 120px); }
  100% { transform: translate(0, 0); }
}

.nav-link {
  color: #000 !important;
  /* transition: color 0.3s ease; */
}

.nav-link:hover {
  color: #0d6efd !important;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
}

.btn-outline-light:hover {
  background-color: #0d6efd;
  border-color: #0d6efd;
}